<h1>Admin::Dashboard</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= link_to "Total Products:", 'admin/products#index' %></th>
      <td><%= @product_count %></td>
    </tr>
    <tr>
      <th><%= link_to "Total Categories", '/admin' %></th>
      <td><%= @category_count %></td>
    </tr>
</table>