<h1>Admin &raquo; Dashboard</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= link_to "Total Products:", [:admin, :products] %></th>
      <td><%= @product_count %></td>
    </tr>
    <tr>
      <th><%= link_to "Total Categories", [:admin, :categories] %></th>
      <td><%= @category_count %></td>
    </tr>
</table>